//$mainOffset: 15; // отступы безопасности для контейнера
//$maxWidth: 1920; // максимальная ширина страницы
//$minWidth: 320; // минимальная ширина телефона
//$containerWidth: 1160; // ширина контейнера из макета
//$maxWidthContainer: $containerWidth + ($mainOffset * 2); // ширина контейнера с учетом padding слева и справа



// Colors
$colorBasePrimary: #CCC6C2;
$colorBaseSecondary: #141313;
$colorFont: #FFFFFF;
$colorHover: #000000;

// Viewport
$mediaTablet: "min-width: 768px";
$mediaDesktop: "min-width: 1920px";
$mediaNoTablet: "max-width: 767px";
$mediaNoDesktop: "max-width: 1919px";

// Indents
$containerIndent: 20px;
$containerIndentDesktop: 40px;