.hero {
  width: 100%;
  max-height: 389px;
  text-align: center;
  background-image: url("./images/intro-mobile.jpg");
  background-color: $colorBaseSecondary;
  background-position: bottom -1px center, bottom center;
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat;

  @media ($mediaDesktop) {
    background-image: url("./images/intro.jpg");
  }
}

.hero__discription {
  color: $colorFont;
  font-family: inherit;
  font-size: 15px;
}
